@import "tailwindcss";
@theme {
  --breakpoint-xs: 400px;
}
* {
  font-family: "davigo";
}
button {
  cursor: pointer;
}
#card {
  background-color: #181818;
}
.plans-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.plans-item::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 5px;
  border-radius: 50px;
  width: 7px;
  height: 7px;
  background-color: #ffa705e6;
}
/*
.platinium-item::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 5px;
  border-radius: 50px;
  width: 7px;
  height: 7px;
  background-color: #f54900;
}*/
/*
.ruby-item::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 5px;
  border-radius: 50px;
  width: 7px;
  height: 7px;
  background-color: #fb2c36;
} */
.lh1 {
  line-height: 3.5rem;
  @media (max-width: 875px) {
    line-height: 3rem;
  }
  @media (max-width: 768px) {
    line-height: 2rem;
  }
  @media (max-width: 650px) {
    line-height: 2.5rem;
  }
  @media (max-width: 400px) {
    line-height: 2rem;
  }
}
.lhp {
  line-height: calc(1rem * 1.5);
}
/*fonts*/
@font-face {
  font-family: "corpoa";
  src: url(../fonts/Corpoa\ DEMO.otf);
}
@font-face {
  font-family: "mardon";
  src: url(../fonts/Mardon.ttf);
}
@font-face {
  font-family: "davigo";
  src: url(../fonts/Davigo\ DEMO.ttf);
}

.corpoa {
  font-family: "corpoa";
}
.mardon {
  font-family: "mardon";
}
.davigo {
  font-family: "davigo";
}
/*<fonts/>*/
